<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Moje Listy
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
	<ion-card *ngFor="let shoppingList of shoppingLists">
		<ion-card-header>
			<ion-card-title>{{ shoppingList.name }}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			{{ shoppingList.description }}
		</ion-card-content>
	</ion-card>

	<ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="addShoppingList()">
		<ion-fab-button color="primary">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>