<ion-content class="ion-padding">
	<ion-icon (click)="dismiss()" name="close-outline"></ion-icon>
	<div class="form-wrapper">
		<form [formGroup]="shoppingListForm">
			<ion-list class="ion-no-margin ion-no-padding" lines="full">
				<ion-item [ngClass]="{ 'is-invalid': submitted && form.name.errors }">
					<ion-label position="stacked">Name</ion-label>
					<ion-input formControlName="name" type="text"></ion-input>
				</ion-item>
				<div *ngIf="submitted && form.name.errors" class="invalid-feedback">
					<p *ngIf="form.name.errors.required">This field is required.</p>
				</div>
				<ion-item>
					<ion-label position="stacked">Description</ion-label>
					<ion-textarea formControlName="description" type="textarea"></ion-textarea>
				</ion-item>
			</ion-list>
			<div class="ion-text-right">
				<ion-button (click)="onSubmit()">Submit</ion-button>
			</div>
		</form>
	</div>
</ion-content>
