<ion-app>
	<ion-split-pane contentId="content">
		<ion-menu contentId="content" menuId="menu" side="start">
			<ion-header>
				<ion-toolbar>
					<ion-img src="assets/menu.png" class="menu-img"></ion-img>
				</ion-toolbar>
			</ion-header>
			<ion-content>
				<ion-list *ngFor="let page of pages">
					<ion-menu-toggle auto-hide="false">
						<ion-item [routerLink]="page.url" routerDirection="forward">
							<ion-icon [name]="page.icon" slot="start"></ion-icon>
							{{page.title}}
						</ion-item>
					</ion-menu-toggle>
				</ion-list>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
