<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="shopping-list"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Products list
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-img src="assets/empty_list_items.png"
             *ngIf="!shoppingListItems || shoppingListItems.length <= 0"
             class="empty-list-img">
    </ion-img>
    <ion-list>
        <ion-item (click)="markAsPurchased(shoppingListItem)" *ngFor="let shoppingListItem of shoppingListItems">
            <ion-label>{{shoppingListItem.product.name}}</ion-label>
            <ion-checkbox [(ngModel)]="shoppingListItem.purchased" slot="end"></ion-checkbox>
        </ion-item>
    </ion-list>

    <ion-fab (click)="addProduct(shoppingList)" horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button color="primary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
